:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  padding-top: 4rem;
}

.avoid-header {
  padding-top: 2rem;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.profile-footer {
  text-align: center;
  position: fixed;
  inset: auto 0 0 0;
  padding: 1em;
}

.abt-me-port {
  max-width: 50%;
}

.project-card {
  max-width: 500px;
}

.project-img {
  max-width: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 4px;
  position: relative;
}

/* .project-img:hover {
  opacity: .7;
} */

.logo-sm {
  width: 50px;
}

.footer-img {
  width: 50px;
}

.footer-section {
  margin-top: auto;
}

.form-container {
  max-width: 500px;
  padding: 50px;
}

.input-cstm {
  margin-top: 10px;
  border-color: #242424;
}

.portfolio-link {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.rel {
  position: relative;
}

.rel:hover .portfolio-link {
  display: flex;
}

.rel:hover .project-img {
  opacity: .5;
}

.projects {
  padding-top: 3rem;
}

.about-me {
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* .my-skills {
  width: 50%;
} */

.project-container{
  padding: 0 15px 30px 15px;
}

.project-header {
  padding-top: 15px;
}

.about-me-p {
  line-height: 180%;
  font-size: 1.3rem;
}

.navbar {
  background-color: black;
  padding: 0;
} 

.skill-name {
  font-size: 1.3rem;
  margin: 0!important;
}

.width100 {
 width: 100%;
 display: flex;
 justify-content: center;
}

.skill-logo {
  font-size: 2rem;
  max-width: 50%;
}

.skill-card {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 8px;
  padding: 10px;
}

.skills-container {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

.logo {
  height: 75px;
  width: 60px;
  object-fit: cover;
}

.mw {
  max-width: 1200px;
  width: 100%;
}

.header-icon {
  font-size: 38px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: none;
}

.header-icon:hover {
  color: grey;
}

.text-light {
  transition: 0.25s ease!important;
}

.text-light:hover {
  color: grey!important;
}

.sliding-a {
  display: inline-block;
  font-size: 30px;
  opacity: 0;
  transform: translateX(-100%); /* Initial position outside the container */
  transform: translateY(-100%); /* Initial position outside the container */
  animation: slideInA 1s forwards; /* Adjust the duration as needed */
}

.sliding-s {
  display: inline-block;
  font-size: 30px;
  opacity: 0;
  transform: translateX(100%);
  transform: translateY(30%); /* Initial position outside the container */
  animation: slideInB 1s forwards; /* Adjust the duration as needed */
}



@keyframes slideInA {
  to {
    opacity: 1;
    transform: translateX(0); /* Final position at 0% */
    transform: translateY(-20%); /* Final position at 0% */
  }
}

@keyframes slideInB {
  to {
    opacity: 1;
    transform: translateX(0); /* Final position at 0% */
    transform: translateY(30%); /* Final position at 0% */
  }
}

.logo-rel {
  position: relative;
}
.logo-char {
  font-size: 120px;
  font-weight: 900;
  position: absolute;;
}

.logo-large-container {
  width: 50%;
}

.bg-black {
  background-color: black;
}

@media screen and (max-width: 1000px) {
  .abt-me-port {
    max-width: 100%;
    margin-bottom: 15px;
  }

  .logo-large-container {
    display: none!important;
  }
  
  .about-me {
    flex-direction: column;
  }

  .project-img,
  .project-card {
    width: 100%;
    padding-right: 0!important;
    padding-left: 0!important;
  }

  .project-container{
    padding-right: 0!important;
    padding-left: 0!important;
    margin: auto 15px;
  }

  nav li {
    display: inline-block;
            margin-right: 10px; 
  }

  .about-me-p {
    padding-left: 0;
    font-size: 1rem;
  }

  .skill-name {
    font-size: 1rem;
  }

  /* .avoid-header {
    position: relative;
  }

  .about-content {
    position: absolute;
    bottom: 0;
    background-color: #242424c4;
    color: white;
  } */
  
  .abt-me-port {
    max-height: 50%!important;
    width: 100%;
    object-fit: cover;
  }

  .mw {
    height: fit-content;
  }
}


@media screen and (max-width: 550px) {
  #socials {
    display: none;
  }

  .navbar {
    justify-content: center!important;
  }
}

@media screen and (max-width: 450px) {
  .navbar {
    font-size: .8rem;
  }
  
  .logo {
    max-height: 4rem;
  }

  .avoid-header {
    padding-top: 1rem;
  }
}


@media screen and (max-width: 390px) {  
  .logo {
    display: none;
  }
  :root {
    padding-top: 2rem;
  }
}

